/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

/* Import Component */
@import 'bootstrap.scss';
@import 'variaveis.scss';
@import 'header.scss';
@import 'buttons.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'responsive-background.scss';
@import 'responsive-elements.scss';