/* Cores */
$color-primaria: #3399CC;
$color-segundaria: #333666;
$color-tercearia: #FF6633;
$color-quartenaria: #B1F4FF;
$color-branco: #FFF;
/* Fontes */
$font-h1: 70px;
$font-h2: 30px;
/* Icones */
$social-media-icon: 30px;
/* Buttons */
$btn-radius: 20px;