header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  margin: 30px auto;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}


header nav ul li a {
  margin: 0 15px;
  color: #3399cc;
}

