/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');
/* End Fonts */

/* Import Header - Footer */
@import 'header.css';
@import 'buttons.css';
/* End Import */

/* Resert */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}